Repository FRONTENDSCHOOL5/final-07-show-in-seoul, pull requests merged in 2023-06, with the labels that each got.

#9 [Feat] 리액트 Routes 설정
  package-lock.json
  package.json
  src/App.js
  src/Assets/Icon/temp
  src/Assets/Img/temp
  src/Pages/CategoryPage.jsx
  src/Pages/ErrorPage.jsx
  src/Pages/LoginPage.jsx
  src/Pages/MainPage.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/PostPage.jsx
  src/Pages/PostingPage.jsx
  src/Pages/ProfileDetailPage.jsx
  src/Pages/ProfileEditPage.jsx
  src/Pages/ProfileSettingPage.jsx
  src/Pages/SearchPage.jsx
  src/Pages/ShowDetailPage.jsx
  src/Pages/SignupPage.jsx
  src/Pages/SplashPage.jsx
  src/Styles/GlobalStyle.jsx
  src/index.js
Labels: build

#14 [Feat] 버튼 공통 컴포넌트
  src/Components/Common/Button.jsx
Labels: common

#15 [Feat] 하단 네비게이션 컴포넌트
  src/Assets/Icon/icon-arrow-left.png
  src/Assets/Icon/icon-category-fill.png
  src/Assets/Icon/icon-category.png
  src/Assets/Icon/icon-home-fill.png
  src/Assets/Icon/icon-home.png
  src/Assets/Icon/icon-more-vertical.png
  src/Assets/Icon/icon-post-fill.png
  src/Assets/Icon/icon-post.png
  src/Assets/Icon/icon-search-fill.png
  src/Assets/Icon/icon-search.png
  src/Assets/Icon/icon-user-fill.png
  src/Assets/Icon/icon-user.png
  src/Assets/Icon/logo-text.png
  src/Components/Common/BottomNav.jsx
Labels: common

#17 [Style] 글로벌 스타일 추가, 레이아웃 추가
  src/App.js
  src/Styles/GlobalStyle.jsx
  src/Styles/LayoutStyle.jsx
Labels: style

#16 [Fix] 버튼 컴포넌트 수정
  src/Components/Common/Button.jsx
Labels: common

#20 [Feat] 상단바 컴포넌트
  src/Assets/Icon/icon-arrow-white.png
  src/Assets/Icon/icon-logout.png
  src/Assets/Icon/icon-share.png
  src/Components/Common/TopBar.jsx
Labels: common

#23 [Feat] 프로필 설정 페이지 마크업 초안
  src/Pages/ProfileSettingPage.jsx
Labels: Login, Profile

#25 [Feat] 게시글(Post) 코멘트 마크업
  src/Assets/Img/temp
  src/Components/Post/Comments.jsx
Labels: Post

#26 [Feat] 인풋 박스 구현 정상일때, disabled일때
  src/Components/Common/InputBox.jsx
Labels: Login, common

#27 [Feat] 카테고리 태그 컴포넌트 구현
  src/Components/Profile/AreaTag.jsx
  src/Components/Profile/InterestsTag.jsx
  src/Components/Profile/Tags.jsx
  src/Components/Profile/constants.jsx
Labels: Profile, common

#28 [Feat] 프로필 공통 컴포넌트
  src/Components/Common/Profile.jsx
Labels: common

#30 [Build & Feat] 상태관리 Recoil npm 설치 및 Atom 세팅
  package-lock.json
  package.json
  src/Atom/atom.jsx
Labels: common

#34 [Feat] mainpage 마크업 완료
  src/Assets/Data/서울시 문화행사 정보.json
  src/Assets/Img/포스터.jpeg
  src/Components/Article/Content.jsx
  src/Components/Article/FeedContents.jsx
  src/Pages/MainPage.jsx
Labels: Main, Article

#35 [Feat] 로그인 페이지 마크업 완료
  src/Assets/Img/google.svg
  src/Assets/Img/kakao.svg
  src/Assets/Img/logo.svg
  src/Assets/Img/naver.svg
  src/Pages/LoginPage.jsx
Labels: Login

#37 [Feat] 회원가입 페이지 마크업 완료
  src/Pages/SignupPage.jsx
Labels: Login

#36 [Feat] postingpage 마크업 초안 완료
  src/Assets/Icon/upload-file.png
  src/Pages/PostingPage.jsx
Labels: Posting

#38 [Feat] 프로필 이미지 수정 컴포넌트 추가
  src/Assets/Icon/temp
  src/Assets/Img/upload-file.png
  src/Components/Common/ProfileImageEdit.jsx
Labels: Profile, common

#39 [Feat] 프로필 관리용 인포 수정 컴포넌트
  src/Components/Common/ProfileInfoEdit.jsx
Labels: Profile, common

#33 [Fix] 게시글(Post) 코멘트 마크업
  src/Assets/Icon/icon-heart-fill-pink.png
  src/Assets/Icon/icon-heart.png
  src/Assets/Icon/icon-message-circle.png
  src/Assets/Icon/icon-post-album-off.png
  src/Assets/Icon/icon-post-album-on.png
  src/Assets/Icon/icon-post-list-off.png
  src/Assets/Icon/icon-post-list-on.png
  src/Assets/Icon/logo-gray-small.png
  src/Assets/Icon/s-icon-more-vertical.png
  src/Components/Common/InputBox.jsx
  src/Components/Common/Profile.jsx
  src/Components/Post/Comments.jsx
  src/Components/Profile/Tags.jsx
  src/Pages/ProfileSettingPage.jsx
Labels: Post

#40 [Feat] 프로필 수정 페이지 마크업
  src/Pages/ProfileEditPage.jsx
Labels: Profile

#41 [Refactor] 내부 infoedit 컴포넌트화로 페이지 수정
  src/Pages/ProfileSettingPage.jsx
Labels: Signup

#42 [Feat] 카테고리 페이지 마크업 초안 작성
  src/Assets/Icon/hyphen.png
  src/Components/Category/CategoryHeader.jsx
  src/Components/Category/CategoryPeriod.jsx
  src/Pages/CategoryPage.jsx
Labels: Category

#32 [Feat] 에러 페이지 공통 컴포넌트
  src/Assets/Img/error.svg
  src/Components/Common/Error.jsx
Labels: common

#47 [Feat] post 공동 컴포넌트 마크업 초안
  src/Components/Common/Post/Post.jsx
  src/Components/Common/Post/PostContent.jsx
  src/Components/Common/Post/PostContentButtons.jsx
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Post/PostLayoutButtons.jsx
  src/Styles/LayoutStyle.jsx
Labels: common

#48 [Feat] 검색페이지 마크업 초안 완료
  src/Components/Article/SearchContent.jsx
  src/Pages/SearchPage.jsx
Labels: Search

#49 [Feat] 프로필 상세 페이지 마크업 초안
  src/Components/Common/Profile.jsx
  src/Pages/ProfileDetailPage.jsx
Labels: Profile

#50 [Feat] 게시글 상세 페이지 마크업 초안 완료
  src/Pages/PostDetailPage.jsx
Labels: Post

#51 [Feat] 게시글 피드 페이지 마크업 초안 완료
  src/Pages/PostPage.jsx
Labels: Post

#52 [Refactor] 상단바 컴포넌트 분리
  src/Components/Common/TopBar.jsx
  src/Components/Common/TopBarBtn.jsx
Labels: common

#53 [Feat] 하단 네비게이션 기능 추가
  src/Components/Common/BottomNav.jsx
Labels: common

#54 [Feat] API 모듈 분리 및 상태 관리용 recoil 업데이트
  src/API/Comment.jsx
  src/API/GetShowAPI.jsx
  src/API/Image.jsx
  src/API/Like.jsx
  src/API/Post.jsx
  src/API/Profile.jsx
  src/API/User.jsx
  src/Atom/atom.jsx
  src/index.js
Labels: common, API

#55 [Feat] 버튼 컴포넌트 navigate 기능 추가
  src/Components/Common/Button.jsx
Labels: style, common

#56 [Fix] 404에러 페이지
  src/Components/Common/Error.jsx
  src/Pages/ErrorPage.jsx
Labels: common

#59 [Fix] 레이아웃 수정
  src/Pages/MainPage.jsx
Labels: Main

#60 [Feat] 검색페이지 기능 구현
  src/Assets/Icon/icon-reset.svg
  src/Components/Common/TopBar.jsx
  src/Components/Common/TopBarBtn.jsx
  src/Components/Search/SearchContent.jsx
  src/Components/Search/SearchInput.jsx
  src/Pages/SearchPage.jsx
Labels: Search

#61 [Feat, Fix] 로그인 기능 구현
  src/API/User.jsx
  src/Components/Common/InputBox.jsx
  src/Components/Login/Login.jsx
  src/Pages/LoginPage.jsx
Labels: Login, common

#62 [Feat] 공공API 데이터 활용 구현
  src/API/GetShowAPI.jsx
  src/Components/Article/Content.jsx
  src/Components/Article/FeedContents.jsx
  src/Components/Search/SearchContent.jsx
  src/Pages/MainPage.jsx
  src/Pages/SearchPage.jsx
Labels: Main, Search, API

#63 [Feat] 정상적일때 회원가입 가능 이후 자동 로그인 이후 메인 페이지 전환
  src/Components/Common/Button.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Components/Profile/AreaTag.jsx
  src/Components/Profile/InterestsTag.jsx
  src/Pages/ProfileSettingPage.jsx
  src/Pages/SignupPage.jsx
Labels: Login, Signup, API

#65 [Feat] 행사상세페이지 마크업 및 기능 구현
  src/Assets/Icon/icon-share.svg
  src/Components/Article/Content.jsx
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Article/ShowDetailInfo.jsx
  src/Components/Search/SearchContent.jsx
  src/Pages/MainPage.jsx
  src/Pages/ShowDetailPage.jsx
  src/Utils/showDetailFunction.jsx
Labels: Main, Article

#67 [Feat] 모달창 구현
  src/Components/Modal/Alert.jsx
  src/Components/Modal/Modal.jsx
Labels: Modal

#66 [Fix, Style] 컴포넌트, 스타일 수정
  src/Assets/Img/google.svg
  src/Assets/Img/kakao.svg
  src/Assets/Img/naver.svg
  src/Components/Common/Button.jsx
  src/Components/Common/InputBox.jsx
  src/Components/Login/Login.jsx
  src/Pages/LoginPage.jsx
Labels: style, Login, common

#68 [Feat] 토큰 검증 커스텀 훅 추가, 에러페이지 기능 추가
  src/App.js
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Article/ShowDetailInfo.jsx
  src/Components/Common/Error.jsx
  src/Components/Common/TopBarBtn.jsx
  src/Hook/useTokenCheck.jsx
  src/Pages/ErrorPage.jsx
  src/Pages/ShowDetailPage.jsx
Labels: Error

#69 [Feat] 카테고리 페이지 마크업 수정 및 태그 토글 및 Recoil 상태 관리 까지
  src/Atom/atom.jsx
  src/Components/Profile/AreaTag.jsx
  src/Components/Profile/InterestsTag.jsx
  src/Components/Profile/Tags.jsx
  src/Components/Profile/constants.jsx
  src/Pages/CategoryPage.jsx
Labels: common, Category

#70 [Feat] 프로필 페이지에서 구분하기 위해 필요한 accountName 초기에 atom에 저장
  src/Components/Login/Login.jsx
  src/Pages/ProfileSettingPage.jsx
Labels: Login, common

#72 [Feat] API 데이터 JSON 데이터로 수정
  src/Components/Article/Content.jsx
  src/Components/Article/ShowDetailInfo.jsx
  src/Components/Search/SearchContent.jsx
  src/Components/Search/SearchInput.jsx
  src/Pages/MainPage.jsx
  src/Pages/SearchPage.jsx
  src/Pages/ShowDetailPage.jsx
  src/Utils/showDetailFunction.jsx
Labels: Main, Search

#73 [Feat] 게시글 피드 페이지, 프로필 디테일 페이지 구현
  src/API/Post.jsx
  src/API/PostAPI.jsx
  src/API/Profile.jsx
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Common/BottomNav.jsx
  src/Components/Common/Post/Post.jsx
  src/Components/Common/Post/PostContent.jsx
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Profile.jsx
  src/Pages/PostPage.jsx
  src/Pages/PostingPage.jsx
  src/Pages/ProfileDetailPage.jsx
Labels: Profile, Post

#74 [Feat] 카테고리 페이지 완성, 태그 토글 기능, atom count 업데이트
  src/Atom/atom.jsx
  src/Components/Common/ProfileImageEdit.jsx
  src/Components/Profile/AreaTag.jsx
  src/Components/Profile/CategoryTags.jsx
  src/Pages/CategoryPage.jsx
Labels: Category

#75 [Feat] 프로필 수정 버튼 기능 / 바텀 네비 프로필 버튼 기능 / 게시글 상세 페이지 CSS 수정
  src/Components/Common/BottomNav.jsx
  src/Components/Common/Post/Post.jsx
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Profile.jsx
  src/Components/Post/Comments.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/ProfileDetailPage.jsx
Labels: style, Profile, Post

#77 [Feat] API 데이터 통신 최적화 및 업데이트
  src/API/GetShowAPI.jsx
  src/Atom/atom.jsx
  src/Components/Article/Content.jsx
  src/Components/Article/ShowDetailInfo.jsx
  src/Components/Article/TotalCount.jsx
  src/Components/Common/BottomNav.jsx
  src/Components/Common/TopBar.jsx
  src/Components/Search/SearchContent.jsx
  src/Components/Search/SearchInput.jsx
  src/Pages/MainPage.jsx
  src/Pages/SearchPage.jsx
  src/Pages/ShowDetailPage.jsx
Labels: Main, common, Search, API

#78 [Fix, Style] 스타일 수정
  src/Assets/Img/google.svg
  src/Assets/Img/kakao.svg
  src/Assets/Img/naver.svg
  src/Components/Common/InputBox.jsx
  src/Components/Login/Login.jsx
  src/Pages/LoginPage.jsx
Labels: Login, common

#80 [Feat] 회원가입 - 프로필 설정 페이지 구현 | Admin 계정 관련 Follow API 등
  src/API/Follow.jsx
  src/API/User.jsx
  src/Atom/atom.jsx
  src/Components/Common/Button.jsx
  src/Components/Common/InputBox.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Components/Profile/ProfileInterests.jsx
  src/Components/Profile/ProfileTags.jsx
  src/Pages/ProfileSettingPage.jsx
  src/Pages/SignupPage.jsx
Labels: Profile, common, Signup, API

#79 [Feat] 프로필 설정 페이지에서의 태그 개수 제한
  src/Atom/atom.jsx
  src/Components/Common/InputBox.jsx
  src/Components/Common/ProfileInfoEdit.jsx
Labels: Profile, Signup

#81 [Fix] 회원가입시 Intro에 계속 빈 문자열 들어가는 문제 해결
  src/Components/Common/ProfileInfoEdit.jsx
  src/Components/Profile/ProfileInterests.jsx
  src/Pages/ProfileSettingPage.jsx
Labels: Signup

#82 [Feat] 카테고리 필터링 기능, 에러컴포넌트 렌더링 기능 추가
  src/Components/Article/TotalCount.jsx
  src/Components/Common/Error.jsx
  src/Hook/useDataFiltering.jsx
  src/Pages/MainPage.jsx
  src/Pages/SearchPage.jsx
Labels: Main, Category, Search, Error

#83 [Fix & Chore] Merge에서 충돌난 부분, 공통 자잘한 해결
  src/API/Follow.jsx
  src/Components/Common/InputBox.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Components/Login/Login.jsx
  src/Components/Profile/ProfileInterests.jsx
  src/Pages/ProfileSettingPage.jsx
  src/Pages/SignupPage.jsx
Labels: common

#84 [Feat] 스플래시 화면 구현
  src/Assets/Img/splash-eye.svg
  src/Assets/Img/splash-face.svg
  src/Assets/Img/splash-letter.svg
  src/Pages/SplashPage.jsx
Labels: Splash

#85 [Feat] 회원가입시 Admin 계정으로 팔로우, 그래서 후에 피드에 반영
  src/API/Follow.jsx
  src/API/useFollow.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Pages/ProfileSettingPage.jsx
Labels: Signup, API

#87 [Fix] 관리자 토큰으로 수정 / 게시글 디자인 수정
  src/Components/Common/Post/Post.jsx
  src/Components/Common/Post/PostContent.jsx
  src/Components/Common/Post/PostContentButtons.jsx
  src/Components/Common/TopBar.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/PostPage.jsx
  src/Pages/PostingPage.jsx
  src/Pages/ProfileDetailPage.jsx
  src/Pages/ShowDetailPage.jsx
Labels: style, Profile, Post

#89 [Feat] 게시글 피드와 프로필 상세 페이지 모달 연결 / 모달과 게시글 수정 기능 연결
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Profile.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/ProfileDetailPage.jsx
Labels: Profile, Post, Modal

#90 [Feat] 메인페이지 로딩시 스켈레톤 컴포넌트 렌더링 기능 추가
  src/Assets/Icon/skeleton/skeleton-icon1.svg
  src/Assets/Icon/skeleton/skeleton-icon2.svg
  src/Assets/Icon/skeleton/skeleton-icon3.svg
  src/Assets/Icon/skeleton/skeleton-icon4.svg
  src/Assets/Icon/skeleton/skeleton-icon5.svg
  src/Assets/Icon/skeleton/skeleton-icon6.svg
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Article/ShowDetailInfo.jsx
  src/Components/Article/TotalCount.jsx
  src/Components/Common/Button.jsx
  src/Components/Common/Skeleton.jsx
  src/Pages/CategoryPage.jsx
  src/Pages/MainPage.jsx
  src/Pages/SearchPage.jsx
Labels: Main, common, Search

#91 [Feat] 댓글 작성 구현
  src/Components/Common/Post/Post.jsx
  src/Components/Common/Post/PostContentButtons.jsx
  src/Components/Post/Comments.jsx
  src/Components/Post/CommentsForm.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/PostPage.jsx
Labels: Comment

#92 [Feat] 로그인 되지 않은 상태에서 페이지 접근시 스플래시 페이지로 이동
  src/App.js
  src/Route/RequireAuth.jsx
Labels: common

#93 [Fix] npm install 에서 계속 에러 나는 부분 버전 업데이트 및 styled-reset 삭제로 해결
  package-lock.json
  package.json
Labels: build

#94 [Feat] 스크롤이 위로 올라가는 top버튼 추가
  src/Assets/Img/topbtn.svg
  src/Components/Article/ShowDetailInfo.jsx
  src/Pages/MainPage.jsx
Labels: Main

#95 [Feat, Style] 라우터 설정 변경, reset css 수정
  src/Atom/atom.jsx
  src/Components/Common/Post/PostContentButtons.jsx
  src/Components/Login/Login.jsx
  src/Pages/MainPage.jsx
  src/Pages/ProfileSettingPage.jsx
  src/Route/RequireAuth.jsx
  src/Styles/GlobalStyle.jsx
Labels: style, Login, Main, common

#96 [Fix] Top버튼 컴포넌트 수정
  src/Components/Common/TopBtn.jsx
  src/Hook/useScrollToTop.jsx
  src/Pages/MainPage.jsx
  src/Pages/PostPage.jsx
  src/Pages/ProfileDetailPage.jsx
  src/Pages/SearchPage.jsx
Labels: common

#97 [Feat] 프로필 수정 페이지
  src/API/useProfile.jsx
  src/Components/Common/ProfileImageEdit.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Components/Profile/ProfileInterests.jsx
  src/Pages/ProfileEditPage.jsx
Labels: Profile

#98 [Fix] image API 누락된 파일
  src/API/Image.jsx
Labels: API

#99 [Dos] README 업데이트
  README.md
Labels: docs

#100 [Feat] favicon 적용
  public/favicon.ico
  public/index.html
Labels: style

#101 [Fix] 검색페이지 오류 수정
  src/Assets/Data/서울시 문화행사 정보.json
  src/Components/Article/Content.jsx
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Article/TotalCount.jsx
  src/Components/Search/SearchContent.jsx
  src/Components/Search/SearchInput.jsx
  src/Pages/SearchPage.jsx
  src/Pages/ShowDetailPage.jsx
Labels: Search

#102 [Fix, Feat] 모달 컴포넌트 수정 및 로그아웃 기능 추가
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Modal/Alert.jsx
  src/Components/Modal/Modal.jsx
  src/Hook/useAtomReset.jsx
  src/Pages/ProfileDetailPage.jsx
Labels: common, Modal

#103 [Feat] 프로필 수정 페이지에서 기존 계정 이름과 동일할때 처리
  src/Components/Common/ProfileImageEdit.jsx
  src/Components/Common/ProfileInfoEdit.jsx
  src/Pages/ProfileEditPage.jsx
Labels: Profile

#104 [Fix] 최초 로그인시 데이터 통신 오류 수정
  src/API/GetShowAPI.jsx
  src/Components/Article/FeedContents.jsx
  src/Components/Login/Login.jsx
Labels: Login, API

#105 [Feat] 게시물 / 댓글 삭제 (수정 필요)
  src/Components/Article/ShowDeatailTopBar.jsx
  src/Components/Common/Post/PostContent.jsx
  src/Components/Common/Post/PostContentButtons.jsx
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Post/PostLayoutButtons.jsx
  src/Components/Post/Comments.jsx
  src/Components/Post/CommentsForm.jsx
  src/Pages/MainPage.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/PostEditPage.jsx
  src/Pages/PostingPage.jsx
Labels: Post, Comment

#106 [ Fix] 댓글 / 게시글 삭제 렌더링
  src/Components/Common/Post/PostContent.jsx
  src/Components/Common/Post/PostHeader.jsx
  src/Components/Common/Post/PostLayoutButtons.jsx
  src/Components/Common/Profile.jsx
  src/Components/Post/Comments.jsx
  src/Components/Post/CommentsForm.jsx
  src/Pages/PostDetailPage.jsx
  src/Pages/PostPage.jsx
  src/Pages/PostingPage.jsx
Labels: style, Profile, Post, Comment

#107 [Fix] Route 문제 해결, 에러 이미지 변경
  src/Assets/Img/error.svg
  src/Assets/Img/newError.svg
  src/Components/Common/Error.jsx
  src/Components/Common/TopBar.jsx
  src/Components/Common/TopBarBtn.jsx
  src/Components/Login/SignUp.jsx
  src/Route/RequireAuth.jsx
Labels: bug

#108 [Fix] 자잘한 부분 수정
  src/Components/Article/ShowDetailTopBar.jsx
  src/Components/Common/TopBar.jsx
  src/Components/Common/TopBarBtn.jsx
  src/Components/Post/Comments.jsx
  src/Pages/MainPage.jsx
  src/Pages/ShowDetailPage.jsx
Labels: Article, Modal

#109 [Chore] 게시글 전체 감싸는 Wrapper 패딩 바텀
  src/Components/Article/FeedContents.jsx
  src/Pages/PostPage.jsx
  src/Pages/ProfileDetailPage.jsx
  src/Styles/LayoutStyle.jsx
Labels: style
